<div class="container mt-5">
  <h2>Ticket List</h2>
  <table class="table">
    <thead >
      <tr>
        <th >ID</th>
        <th >Phone Number</th>
        <th >Governorate</th>
        <th >City</th>
        <th >District</th>
        <th >Creation Date</th>
        <th >Status</th>
        <th >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets" [style.backgroundColor]="ticket.color">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.phoneNumber }}</td>
        <td>{{ ticket.governorate }}</td>
        <td>{{ ticket.city }}</td>
        <td>{{ ticket.district }}</td>
        <td>{{ ticket.creationDate | date:'medium' }}</td>
        <td>{{ ticket.isHandled ? 'Handled' : 'Pending' }}</td>
        <td>
          <button class="btn btn-primary" (click)="handleTicket(ticket.id)" [disabled]="ticket.isHandled">Handle</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-secondary" (click)="previousPage()" [disabled]="pageNumber === 1">Previous</button>
    <button class="btn btn-secondary" (click)="nextPage()">Next</button>
  </div>
</div>
